@font-face
  font-family: 'Gravity'
  src: url("/src/fonts/Gravity-Regular.eot")
  src: url("/src/fonts/Gravity-Regular.eot?#iefix") format('embedded-opentype'), url("/src/fonts/Gravity-Regular.woff") format('woff'), url("/src/fonts/Gravity-Regular.ttf") format('truetype'), url("/src/fonts/Gravity-Regular.svg#fontname") format('svg')
  font-weight: normal
  font-style: normal


@mixin link
  color: black
  text-decoration: none
  &:hover
    color: darkblue

@mixin blue-link
  color: $borderlink
  text-decoration: none
  &:hover
    color: black


