@font-face
  font-family: 'Gravity'
  src: url("/src/fonts/Gravity-Regular.eot")
  src: url("/src/fonts/Gravity-Regular.eot?#iefix") format('embedded-opentype'), url("/src/fonts/Gravity-Regular.woff") format('font-woff'), url("/src/fonts/Gravity-Regular.ttf") format('font-truetype'), url("/src/fonts/Gravity-Regular.svg#fontname") format('svg')
  font-weight: normal
  font-style: normal

@mixin link
  color: black
  text-decoration: none
  font-weight: bold
  &:hover
    background-color: #2afec5
    color: black
    text-decoration: none
    //color: darkblue

@mixin background-gradient
  background-image: linear-gradient(white, $footer)
  background-size: 100vw 450px
  background-repeat: no-repeat
  background-position: bottom

@mixin card-button
  border: 3px solid $blueBoxBorder
  box-shadow: 0 2.3px 3.4px rgba(0, 0, 0, 0.106),0 18px 27px rgba(0, 0, 0, 0.12)
  color: black
  &:hover
      box-shadow: none
      width: 101%
      height: 101%


