@font-face
  font-family: 'Gravity'
  src: url("/src/fonts/Gravity-Regular.eot")
  src: url("/src/fonts/Gravity-Regular.eot?#iefix") format('embedded-opentype'), url("/src/fonts/Gravity-Regular.woff") format('font-woff'), url("/src/fonts/Gravity-Regular.ttf") format('font-truetype'), url("/src/fonts/Gravity-Regular.svg#fontname") format('svg')
  font-weight: normal
  font-style: normal

@mixin link
  color: black
  text-decoration: none
  font-weight: bold
  &:hover
    background-color: #2afec5
    color: black
    text-decoration: none
    //color: darkblue

@mixin sub-link
  color: black
  text-decoration: none
  &:hover
    background-color: #2afec5
    color: black
    text-decoration: none

@mixin footer-link
  color: black
  text-decoration: none
  &:hover
    background-color: #d8f2f6
    color: black
    text-decoration: none

@mixin background-gradient
  background-image: linear-gradient(white, $footer)
  background-size: 100vw 450px
  background-repeat: no-repeat
  background-position: bottom

@mixin card-button
  border: 3px solid $blueBoxBorder
  outline: 1px solid white
  box-shadow: 0 2.4px 6.8px rgba(0, 0, 0, 0.016),0 19px 54px rgba(0, 0, 0, 0.05)
  color: black
  &:hover
      box-shadow: 0 2.3px 3.4px rgba(0, 0, 0, 0.106),0 18px 27px rgba(0, 0, 0, 0.12);
      border: 4px solid #3EFFC5
      outline: none


@mixin button
  background-color:#00ffc5
  border: none
  padding: 5px 25px 
  box-shadow: 6px 5px 23px 1px #747474
  font-weight: 600
  &:hover
    border: 2px solid #00ffc5
    color: #1fdbb7
    background-color: white
