//menu color scheme
$menu1: #7FC6C5
$menu2: #409FAD
$menu3: #59E18C
$menu4: #00FE77
$menu5: #00FFC5
$menu6: #00FFFD
$menu7: #D7F2F6

$menuItems: "search" $menu2, "projects" $menu3, "events" $menu4, "links" $menu5, "about" $menu6

$footer: #19fe77