.f-body-container
  @media screen and (max-width: 1399px)
    max-width: $body-max-width-medium
  @media screen and (min-width: 1400px)
    max-width: $body-max-width-large

.f-header-container
  @media screen and (max-width: 1399px)
    max-width: $body-max-width-small
  @media screen and (min-width: 1400px)
    max-width: $body-max-width-large

.f-link
  @include link

.f-sub-link
  @include sub-link

.f-button
  @include button